<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stareatm.dao.InterviewMapper">
    <insert id="addInterview">
        INSERT INTO T_INTERVIEW(RS_ID,I_TIME,I_ADDR,I_STATUS,D_NAME,J_NAME)
        VALUES (#{resume.rs_id},#{i_time},#{i_addr},#{i_status},#{d_name},#{j_name})
    </insert>

    <update id="updateInterview">
        UPDATE T_INTERVIEW SET I_STATUS=#{i_status}
        where i_id=#{i_id}
    </update>

    <select id="getInterviewByRs_id" resultMap="Interview_Resume">
        SELECT rs.*,I_ID,I_TIME,I_ADDR,I_STATUS
        from T_INTERVIEW i,T_RESUME rs
        WHERE i.RS_ID=rs.RS_ID
        AND i.RS_ID=#{resume.rs_id}
    </select>

    <select id="getInterview_RsByI_status" resultMap="Interview_Resume">
        SELECT rs.*,I_ID,I_TIME,I_ADDR,I_STATUS,J_NAME,D_NAME
        FROM T_INTERVIEW i,T_RESUME rs
        WHERE i.RS_ID=rs.RS_ID
        AND i.I_STATUS=#{i_status}
    </select>
    <select id="getInterview_Rs" resultMap="Interview_Resume">
        SELECT rs.*,I_ID,I_TIME,I_ADDR,I_STATUS,J_NAME,D_NAME
        FROM T_INTERVIEW i,T_RESUME rs
        WHERE i.RS_ID=rs.RS_ID
        AND i.I_ID=#{i_id}
    </select>

    <resultMap id="Interview_Resume" type="Interview">
        <id property="i_id" column="I_ID"/>
        <result property="i_time" column="I_TIME"/>
        <result property="i_addr" column="I_ADDR"/>
        <result property="i_status" column="I_STATUS"/>
        <result property="j_name" column="J_NAME"/>
        <result property="d_name" column="D_NAME"/>
        <association property="resume" javaType="Resume">
            <id property="rs_id" column="RS_ID"/>
            <result property="rs_name" column="RS_NAME"/>
            <result property="rs_sex" column="RS_SEX"/>
            <result property="rs_IDNumber" column="RS_IDNUMBER"/>
            <result property="rs_birthday" column="RS_BIRTHDAY"/>
            <result property="rs_residence" column="RS_RESIDENCE"/>
            <result property="rs_addr" column="RS_ADDR"/>
            <result property="rs_expTime" column="RS_EXPTIME"/>
            <result property="rs_phone" column="RS_PHONE"/>
            <result property="rs_email" column="RS_EMAIL"/>
            <result property="rs_desiredPosition" column="RS_DESIREDPOSITION"/>
            <result property="rs_desiredLocation" column="RS_DESIREDLOCATION"/>
            <result property="rs_expectedSal" column="RS_EXPECTEDSAL"/>
            <result property="rs_careerExp" column="RS_CAREEREXP"/>
            <result property="rs_status" column="RS_STATUS"/>
        </association>
    </resultMap>

    <resultMap id="Interview_Resume_Job" type="Interview">
        <id property="i_id" column="I_ID"/>
        <result property="i_time" column="I_TIME"/>
        <result property="i_addr" column="I_ADDR"/>
        <result property="i_status" column="I_STATUS"/>
        <association property="resume" javaType="Resume">
            <id property="rs_id" column="RS_ID"/>
            <result property="rs_name" column="RS_NAME"/>
            <result property="rs_sex" column="RS_SEX"/>
            <result property="rs_IDNumber" column="RS_IDNUMBER"/>
            <result property="rs_birthday" column="RS_BIRTHDAY"/>
            <result property="rs_residence" column="RS_RESIDENCE"/>
            <result property="rs_addr" column="RS_ADDR"/>
            <result property="rs_expTime" column="RS_EXPTIME"/>
            <result property="rs_phone" column="RS_PHONE"/>
            <result property="rs_email" column="RS_EMAIL"/>
            <result property="rs_desiredPosition" column="RS_DESIREDPOSITION"/>
            <result property="rs_desiredLocation" column="RS_DESIREDLOCATION"/>
            <result property="rs_expectedSal" column="RS_EXPECTEDSAL"/>
            <result property="rs_careerExp" column="RS_CAREEREXP"/>
            <result property="rs_status" column="RS_STATUS"/>
        </association>
        <association property="job" javaType="Job">
            <id property="j_id" column="J_ID"/>
            <result property="j_name" column="J_NAME"/>
        </association>
    </resultMap>
</mapper>