form{
    position: absolute;
    left:80px;
    top:60px;
    text-align: center;
}
#submit{
    position: absolute;
    left:90px;
    top:52px;
}
#errorSpan{
    position: absolute;
    top: 150px;
    left: 80px;
    color: red;
}

